

<div class='wrapper text-center mt-5'>
    <div class= "btn-group">
        <button class="  btn btn-outline-info font-weight-bold "><%=link_to "Create a Flashcard", new_flashcard_path(@flashcard), class: "text-info" %> </button>


        <button class="  btn btn-outline-info font-weight-bold "> <%= link_to "Go Back to All Flashcards", flashcards_path, class: 'text-info'%></button>


        <button class=" btn btn-outline-info font-weight-bold" ><%= link_to "Home", root_path, class: 'text-info'%></button>

    </div>
</div>
