<div class="text-italic text-center py-3"><%=link_to "Create a Flashcard", new_flashcard_path(@flashcard), class: 'btn btn-outline-info font-weight-bold' %> </div>


<div class="text-italic text-center"> <%= link_to "Go Back to All Flashcards", flashcards_path, class: 'btn btn-outline-info font-weight-bold'%></div>