<h1 class="pt-3 display-4 text-center bg-info text-light">All Flashcards:</h1>



<div class="d-flex justify-content-center flex-wrap row-hl">

<% @flashcards.all.sort {|a, b| a.name <=> b.name}.each do |f| %> 
<div class="card mb-4 border-dark mr-4" style="width: 25rem;" style="display:flex"> 
     <p class="card-header text-center bg-dark"><%=link_to f.name, flashcard_path(f), class: 'text-info' %></p>
     <div class= "card-body text-center">
          <p class="lead"><%= f.definition %> </p>
    </div>
    
</div>

<% end %> 
</div>


