<h1 class="pt-3 display-4 text-center bg-info text-light">All Flashcards:</h1>



  

<ul><% @flashcards.all.sort {|a, b| a.name <=> b.name}.each do |f| %> </ul>
<li class= "list-unstyled text-capitalize text-center pb-1" > <%=link_to f.name, flashcard_path(f), class: 'text-info' %></li>

<% end %> 



