<h1 class="display-4 text-center">All Flashcards:</h1>

<ul><% @flashcards.each do |f| %> </ul>
<li class= "list-unstyled text-capitalize text-center" > <%= link_to f.name, flashcard_path(f) %></li>

<% end %> 

